h1 {
    font-weight: 300;
    color: #212529;
}

h2 {
    font-weight: 300;
    color: #212529;
}

h3 {
    font-weight: 300;
    color: #212529;
}

h4 {
    font-weight: 300;
    color: #212529;
}

h5 {
    font-weight: 300;
    color: #212529;
}

.sig.sig-object.py{
    border-radius: 0px;
}