h1, h2, h3, h4, h5 {
    font-weight: 300;
    color: #212529;
}

:target> h1 :first-of-type {
    border: none !important;
    border-radius: 0px;
    background-color: transparent !important;
}

:target> h2 :first-of-type {
    border: none !important;
    border-radius: 0px;
    background-color: transparent !important;
}

dd > dl > dt {
    font-weight: 400 !important;
}


.sig.sig-object.py{
    border-radius: 0px;
}

.sig-name.descname {
    font-weight: 700 !important;
}

.sig-param {
    font-weight: 700 !important;
    color: gray !important;
}

.sig-return {
    font-weight: 700 !important;
}

.sig.sig-object.py: target {
    background-color: transparent !important;

}

.sig.sig-object.py {
    height: auto !important;
}

code {
    border-radius: 0px !important;
    border: none !important;
    font-weight: bold;
    color: gray;
}


.row-even {
    background-color: #f3f4f7 !important;
    code.literal {
        background: white !important;
    }
}

td, tr {
    border: none !important;
    border-color: transparent !important;
    height: 80px !important;
}

table.docutils {
    box-shadow: none !important;
}

code.xref.py.py-obj.docutils.literal.notranslate {
    background-color: transparent !important;
}

a {
    text-decoration: none !important;
}

p.rubric {
    font-weight: 300;
    font-size: 28px;
}

.sidebar-drawer {
    font-family: "Roboto Mono", "SFMono-Regular", Menlo, Consolas, Monaco,
    Liberation Mono, Lucida Console, monospace !important;
}

aside.sidebar-drawer {
    width: 0 !important;
}

a {
    &.reference.internal {
        color: #049EF4 !important;
    }
    &.current.reference.internal {
        color: "#212529" !important;
    }
}

a.reference.internal {
    color: #049EF4 !important;
}

a.current.reference.internal {
    color: "#212529" !important;
}

blockquote {
    background: none !important;
    border-left: none !important;
    padding: 0px !important;
}

.simple > li > p > em {
    color: #049EF4 !important;
}

.field-list .simple > dd > p > em {
    color: #049EF4 !important;
}

p.rubric {
    font-weight: 400 !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
}

ul > .search > li > a {
    color #049EF4 !important;
}

.property {
    font-weight: 700 !important;
}