// $link-color: white;
// $feedback-color: red;
// $body-text-color: red;
@import url('https://fonts.googleapis.com/css2?family=Questrial:wght@400&display=swap.css');
@import url('https://fonts.googleapis.com/css2?family=Questrial:wght@200&display=swap.css');
@import url('https://fonts.googleapis.com/css2?family=Questrial:wght@700&display=swap.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap.css');

$mono-font-family: "Questrial", sans-serif;
$title-font-family: "Poppins", sans-serif;
$link-color: orange;